/* auxiliar css */
.container{
  padding: 10px 2%;
  max-width: 1280px;
  margin: 0 auto;
}
.block{
  display: block;
}
.flex{
  display: flex;
}
.flex-gap-5px{
  gap: 5px;
}
.flex-gap-10px{
  gap: 10px;
}
.flex-gap-20px{
  gap: 20px;
}
.flex-gap-30px{
  gap: 30px;
}
.flex-gap-40px{
  gap: 40px;
}
.flex-gap-50px{
  gap: 50px;
}

.flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-column{
  flex-direction: column;
}
.flex-center{
  justify-content: center;
}
.text-center{
  text-align: center;
}




/* grid layout */
.grid{
  display: grid;
}


/* marke contonter */
.see{
  border: 1px solid red;
}

